*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffdf4;
  user-select: none;
}

body,
button,
input,
code {
  font-family: "Fuzzy Bubbles", cursive;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  padding: 28px 0;
  text-align: center;
}

#form-container {
  padding: 16px 0;

  & form {
    display: flex;
    justify-content: center;
    gap: 8px;

    & input {
      font-size: 16px;
      padding: 4px 10px;
      width: 160px;
      background-color: #fefae0;
      border-radius: 9em;
      border: 2px solid #7c8904;
      text-align: center;

      &:focus {
        outline: 2px solid;
        box-shadow: 0 2px 5px #ce9861;
      }
    }

    & button {
      font-size: 14px;
      border-radius: 16px;
      border: 2px solid #7c8904;
      background-color: #e9edc9;
      color: #003049;
      padding: 0 12px;

      &:disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.7;
      }

      &:hover {
        background-color: #dfe5b2;
      }

      &:active {
        scale: 0.95;
        transition: scale 0.1s;
      }

      &:focus {
        outline: 2px solid;
        box-shadow: 0 2px 5px #ce9861;
      }
    }
  }
}

#keys-container {
  display: grid;
  grid-template-columns: repeat(4, 88px);
  gap: 20px 32px;
  justify-content: center;
  padding: 20px 0;

  & .key_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  & .key_main {
    background-color: #e9edc9;
    border-radius: 16px;
    border: 2px solid;
    width: 88px;
    height: 88px;
    box-shadow:
      3.5px 3.5px 0 0 #c1c787,
      4px 4px 0 1px #000;

      &:disabled {
        opacity: 0.6;
        pointer-events: none;
        cursor: not-allowed;
        
      }

      &:active {
        transform: translate(1px, 1px);
        scale: 0.99;
      }
  }

  & .key_delete {
    transform: translateX(2.5px);
  }
}
