*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #fffdf4;
  --color-button: #e9edc9;
  --color-black: #000;
}

body {
  background-color: var(--color-background);
  user-select: none;
}

body,
button,
input,
code {
  font-family: "Fuzzy Bubbles", cursive;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  padding: 28px 0;
  text-align: center;
}

#form-container {
  --border-color: #7c8904;

  padding: 16px 0;

  & form {
    display: flex;
    justify-content: center;
    gap: 8px;

    & input {
      font-size: 16px;
      padding: 4px 10px;
      width: 160px;
      background-color: #fefae0;
      border-radius: 9em;
      border: 2px solid var(--border-color);
      text-align: center;

      &:focus {
        outline: 2px solid;
      }
    }

    & button {
      font-size: 14px;
      border-radius: 16px;
      border: 2px solid var(--border-color);
      background-color: var(--color-button);
      color: #003049;
      padding: 0 12px;

      &:disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.7;
      }

      &:hover {
        background-color: #dfe5b2;
      }

      &:active {
        scale: 0.95;
        transition: scale 0.1s;
      }

      &:focus {
        outline: 2px solid;
      }
    }
  }
}

#keys-container {
  --keys-size: 80px;

  display: grid;
  grid-template-columns: repeat(4, var(--keys-size));
  gap: 20px 32px;
  justify-content: center;
  padding: 20px 0;

  & .key_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  & .key_main {
    background-color: var(--color-button);
    border-radius: 16px;
    border: 2px solid;
    width: var(--keys-size);
    height: var(--keys-size);
    aspect-ratio: square;
    box-shadow:
      3.5px 3.5px 0 0 #c1c787,
      4px 4px 0 1px var(--color-black);

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
      cursor: not-allowed;
    }

    &:active {
      transform: translate(1px, 1px);
      scale: 0.99;
    }
  }

  & .key_delete {
    transform: translateX(2.5px);
  }
}
