@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk Variable", system-ui, sans-serif;
  --key-size: 76px;
  --grid-cols: repeat(4, var(--key-size));
  --shadow-key:
    3.5px 3.5px 0 0 var(--color-indigo-300), 4px 4px 0 1px var(--color-black);
}

input,
button {
  font-family: var(--font-sans);
}
